/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "compass";
@import "_bootstrap_and_overrides";



/* -----------------------------------------
   SOMMAIRE
   - Base Styles
   - Overrides
   - Utilities Styles
   - Header
   - Footer
   - Navigation
   - Content & Miscs
   - Tableau
   - slider
   - Panel
   - Formulaire
   - Map
   - Front pages
   - Media Queries
----------------------------------------- */


/* -----------------------------------------
   Base Styles
----------------------------------------- */



/* -----------------------------------------
   Overrides
----------------------------------------- */



/* -----------------------------------------
   Utilities Styles
----------------------------------------- */




/* -----------------------------------------
   Header
----------------------------------------- */



/* -----------------------------------------
   Footer
----------------------------------------- */



/* -----------------------------------------
   Navigation
----------------------------------------- */



/* -----------------------------------------
   Content & Miscs
----------------------------------------- */



/* -----------------------------------------
   Tableau
----------------------------------------- */



/* -----------------------------------------
   Slider
----------------------------------------- */



/* -----------------------------------------
   Panel
----------------------------------------- */



/* -----------------------------------------
   Formulaire
----------------------------------------- */



/* -----------------------------------------
   Map
----------------------------------------- */



/* -----------------------------------------
   Front pages
----------------------------------------- */



/* -----------------------------------------
   Media Queries
----------------------------------------- */



/* -----------------------------------------
   Blur
----------------------------------------- */

$border_color: #107177;
$image_bg: 'bg.jpg';
$margin_top: 5em;

html { 
  background: url($image_bg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
   background:transparent;
}

#bg, #search-bg {
  background-image: url($image_bg);
  background-repeat:no-repeat;
  background-position:  1080px auto;
}
#bg {
  background-position: center top;
  padding: 70px 90px 120px 90px;
}
#search-container {
  position: relative;
}
#search-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: url('/media/blur.svg#blur'); /* for Firefox */
}
#search {
  /* Put this on top of the blurred layer */
  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}
@media (max-width: 600px ) {
  #bg { padding: 10px; }
  #search-bg { background-position: center -10px; }
}
#search h2, #search h5, #search h5 a { text-align: center; color: #fefefe; font-weight: normal; }
#search h2 { margin-bottom: 50px }
#search h5 { margin-top: 70px }